<div class="container">
    <i class="icon-user icon" id="user"></i>
    <p>明日の15時とかミーティングできますか？</p>
</div>

<div class="container AI">
    <i class="icon-robot icon"></i>
    <div class="aaa">
        <p class="Suggestion">Suggestion AI</p>
        <p>{{ time }} にミーティングを設定しますか？ 予定に重複はありません。</p>
        <app-button><i class="icon-calendar button"></i> 予定を作成</app-button>
    </div>
</div>


<form (submit)="onSubmit($event)" class="form">
    <input type="text">
    <button type="submit"><i class="icon-send icon"></i></button>
</form>
<div class="chat" *ngFor="let c of chats">
  {{ c }}
</div>
<input type="text" [formControl]="control" />
<app-button (click)="sendSomething()">何か送って見る</app-button>
