$color: #f5f5f5;

.container {
  display: flex;
  margin: 10px auto;
  align-items: center;

<<<<<<< HEAD
    background-color: $color;
    border-color: #acacac;
    width: 800px;
    border-radius: 10px;
    vertical-align: middle;
    .icon{
        font-size: 30px;
        color: #a7a7a7;
    }
}

.Suggestion{
    font-weight: bold;
}

.icon{
=======
  background-color: $color;
  border-color: #acacac;
  width: 1000px;
  border-radius: 10px;
  vertical-align: middle;
  .icon {
>>>>>>> fujisaki
    font-size: 30px;
    color: #a7a7a7;
  }
}

.Suggestion {
  font-weight: bold;
}

form{
    background-color: $color;
    border-radius: 10px;
    margin: 0 auto;
    width: 800px;

    position: absolute;
    bottom: 20px;
    left: 270px;
    right: 0;
}

input{
    width: 740px;
.icon {
  font-size: 30px;
  color: #a7a7a7;
  margin: 10px;
}

#user {
  color: #a38ef9;
}

form {
  background-color: $color;
  border-radius: 10px;
  margin: 0 auto;
  width: 1000px;

  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

input {
  width: 940px;
}

.AI {
  border: 1px solid #acacac;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.25);
}

.aaa {
  margin: 10px 0px;
  display: flex;
  .user-name {
    font-weight: bold;
  }
}

.aaa-veresion2 {
  margin: 10px 0px;
  .Suggestion {
    font-weight: bold;
  }
}

app-button {
  margin: 10px 0px;
}
