$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-previous: "\e905";
$icon-next: "\e906";
$icon-chat: "\e904";
$icon-send: "\e903";
$icon-calendar: "\e902";
$icon-user: "\e900";
$icon-robot: "\e901";

